.textt-bold {
  font-weight: $font-weight-bold;
}

.text-sm {
  font-size: $font-size-sm;
}

.opacity-8 {
  opacity: .8;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-destructive {
  background-color: $destructive;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue2 {
  background-color: $blue2;
}

.color-primary {
  color: $primary;
}