h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: ($spacer / 2);
  line-height: 1.2;
  color: inherit;
  font-weight: $heading-font-weight;
  word-spacing: -0.2rem;
  letter-spacing: -.02em;
  font-family: $heading-font-family;
}

h1, .h1 {
  font-size: 3.3rem;
}

.page-header {
  overflow: visible;
  margin: 48px 0;
  position: relative;
}

h2, .h2 {
  font-size: 2.76rem;
  margin-bottom: 36px;
}

h3, .h3 {
  font-size: 2.3rem;
  margin-bottom: 24px;
}

h4, .h4 {
  font-size: 1.9rem;
  margin-bottom: 18px;
  font-weight: $font-weight-bold;
}

p {
  margin-bottom: 12px;
  max-width: 635px;
}

strong, b, label {
  font-weight: $font-weight-bold;
}
